<!DOCTYPE html>
<div class="content-container">
    <h2>Rentals Tracking System</h2>
    <h4>Database Engine</h4>
    We've implemented a relational database management system (RDBMS) to handle our book and rental
    data. The choice of MariaDB was based on factors like scalability, security, and compatibility with our
    existing infrastructure.

    <h4>Schema Design</h4>
    Our database schema is normalized to avoid redundancy and ensure data integrity.
    <br/><br/>
    <b>Books</b>
    Represents physical copies of books that the store carries and the number of copies of that book in order to keep track of inventory.
    <br/><br/>
    <b>Languages</b>
    Contains a list of original languages books are written in to help customers and employees find books in a specific language.
    <br/><br/>
    <b>Genres</b>
    Contains a list of book genres to help customers and employees find a book with a theme they are interested in.
    <br/><br/>
    <b>Employees</b>
    Contains information about the individuals employed at the store in order for the owner to keep track of current and past employees.
    <br/><br/>
    <b>Customers</b>
    Contains information about the individuals who have rented from the store. This will help the store contact customers and allow them to possibly set up a loyalty program in the future.
    <br/><br/>
    <b>Rentals</b>
    Records the details of a rental of a book by a customer facilitated by an employee. This will help keep track of where the store’s inventory currently is and how much to charge customers for the rentals.
    <br/><br/>

    <h4>Front-End Integration</h4>
    The UI is integrated with the database to provide visibility on book availability, rental status, and customer
    information. Each page represents a database entity and facilitates CRUD operations for each entity.

    <br>
    <br>
    <br>
</div>
